

/ {
    accents {
        ACCENT(acc_a_grave,   A, GRAVE) // À à
        ACCENT(acc_a_circ,    A, CARET) // Â â

        ACCENT(acc_e_aigu,    E, SQT  ) // É é
        ACCENT(acc_e_grave,   E, GRAVE) // È è
        ACCENT(acc_e_circ,    E, CARET) // Ê ê
        ACCENT(acc_e_trema,   E, DQT  ) // Ë ë

        ACCENT(acc_i_circ,    I, CARET) // Î î
        ACCENT(acc_i_trema,   I, DQT  ) // Ï ï

        ACCENT(acc_o_circ,    O, CARET) // Ô ô

        ACCENT(acc_u_grave,   U, GRAVE) // Ù ù
        ACCENT(acc_u_circ,    U, CARET) // Û û
        ACCENT(acc_u_trema,   U, DQT  ) // Ü ü

        ACCENT(acc_c_cedille, C, SQT  ) // Ç ç
    };
};
