/ {
    adaptive_keys {
        
        // ******************** ARCANE ******************** //

        arcane_key: arcane_key {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&none>;

            ADAPTIVE(arcane_a, &kp A, N D SPACE        )
            ADAPTIVE(arcane_b, &kp B, E C A U S E SPACE)
            ADAPTIVE(arcane_c, &kp C, K                )
            ADAPTIVE(arcane_e, &kp E, U                )
            ADAPTIVE(arcane_f, &kp F, O R              )
            ADAPTIVE(arcane_g, &kp G, E N E R A L      )
            ADAPTIVE(arcane_i, &kp I, O N              )
            ADAPTIVE(arcane_j, &kp J, U S T            )
            ADAPTIVE(arcane_l, &kp L, K                )
            ADAPTIVE(arcane_m, &kp M, E N T            )
            ADAPTIVE(arcane_n, &kp N, I O N            )
            ADAPTIVE(arcane_o, &kp O, I                )
            ADAPTIVE(arcane_p, &kp P, R E T T Y        )
            ADAPTIVE(arcane_q, &kp Q, U A N T U M      )
            ADAPTIVE(arcane_r, &kp R, M                )
            ADAPTIVE(arcane_s, &kp S, K                )
            ADAPTIVE(arcane_t, &kp T, M E N T          )
            ADAPTIVE(arcane_w, &kp W, H I C H          )
            ADAPTIVE(arcane_y, &kp Y, E A H            )

            ADAPTIVE_STRICT(arcane_space, &kp SPACE, T H E SPACE      )
            ADAPTIVE_STRICT(arcane_dot,   &kp DOT,   FSLH             )
            ADAPTIVE_STRICT(arcane_comma, &kp COMMA, SPACE B U T SPACE)
            ADAPTIVE_STRICT(arcane_pound, &kp POUND, D E F I N E SPACE)
        };

        // ******************** MAGIC ******************** //

        magic_h: magic_h {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp H>;

            ADAPTIVE(ah, &kp A, U)
            ADAPTIVE(eh, &kp U, A)
            ADAPTIVE(uh, &kp E, O)
            ADAPTIVE(oh, &kp O, E)
            ADAPTIVE(rh, &kp R, N)
        };
    };
};
