/ {
    adaptive_keys {

        // ******************** ARCANE ******************** //

        arcane_key: arcane_key {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&none>;

            ADAPTIVE(arcane_a, A, &mc_arcane_a)
            ADAPTIVE(arcane_b, B, &mc_arcane_b)
            ADAPTIVE(arcane_c, C, &mc_arcane_c)
            ADAPTIVE(arcane_e, E, &mc_arcane_e)
            ADAPTIVE(arcane_f, F, &mc_arcane_f)
            ADAPTIVE(arcane_g, G, &mc_arcane_g)
            ADAPTIVE(arcane_i, I, &mc_arcane_i)
            ADAPTIVE(arcane_j, J, &mc_arcane_j)
            ADAPTIVE(arcane_l, L, &mc_arcane_l)
            ADAPTIVE(arcane_m, M, &mc_arcane_m)
            ADAPTIVE(arcane_n, N, &mc_arcane_n)
            ADAPTIVE(arcane_o, O, &mc_arcane_o)
            ADAPTIVE(arcane_p, P, &mc_arcane_p)
            ADAPTIVE(arcane_q, Q, &mc_arcane_q)
            ADAPTIVE(arcane_r, R, &mc_arcane_r)
            ADAPTIVE(arcane_s, S, &mc_arcane_s)
            ADAPTIVE(arcane_t, T, &mc_arcane_t)
            ADAPTIVE(arcane_w, W, &mc_arcane_w)
            ADAPTIVE(arcane_y, Y, &mc_arcane_y)

            ADAPTIVE_STRICT(arcane_space, SPACE, &mc_arcane_space)
            ADAPTIVE_STRICT(arcane_dot,   DOT,   &mc_arcane_dot)
            ADAPTIVE_STRICT(arcane_comma, COMMA, &mc_arcane_comma)
            ADAPTIVE_STRICT(arcane_pound, POUND, &mc_arcane_pound)
        };

        // ******************** MAGIC ******************** //

        magic_h: magic_h {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp H>;

            ADAPTIVE_QUICK(ah, A, &kp U)
            ADAPTIVE_QUICK(eh, U, &kp A)
            ADAPTIVE_QUICK(uh, E, &kp O)
            ADAPTIVE_QUICK(oh, O, &kp E)
            ADAPTIVE_QUICK(rh, R, &kp N)
        };
    };
};
