/ {
    adaptive_keys {

        // ******************** ARCANE ******************** //

        arcane_key: arcane_key {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&none>;

            ADAPTIVE(arcane_a, A, &kp N &kp D &kp SPACE                        )
            ADAPTIVE(arcane_b, B, &kp E &kp C &kp A &kp U &kp S &kp E &kp SPACE)
            ADAPTIVE(arcane_c, C, &kp K                                        )
            ADAPTIVE(arcane_e, E, &kp U                                        )
            ADAPTIVE(arcane_f, F, &kp O &kp R                                  )
            ADAPTIVE(arcane_g, G, &kp E &kp N &kp E &kp R &kp A &kp L          )
            ADAPTIVE(arcane_i, I, &kp O &kp N                                  )
            ADAPTIVE(arcane_j, J, &kp U &kp S &kp T                            )
            ADAPTIVE(arcane_l, L, &kp K                                        )
            ADAPTIVE(arcane_m, M, &kp E &kp N &kp T                            )
            ADAPTIVE(arcane_n, N, &kp I &kp O &kp N                            )
            ADAPTIVE(arcane_o, O, &kp I                                        )
            ADAPTIVE(arcane_p, P, &kp R &kp E &kp T &kp T &kp Y                )
            ADAPTIVE(arcane_q, Q, &kp U &kp A &kp N &kp T &kp U &kp M          )
            ADAPTIVE(arcane_r, R, &kp M                                        )
            ADAPTIVE(arcane_s, S, &kp K                                        )
            ADAPTIVE(arcane_t, T, &kp M &kp E &kp N &kp T                      )
            ADAPTIVE(arcane_w, W, &kp H &kp I &kp C &kp H                      )
            ADAPTIVE(arcane_y, Y, &kp E &kp A &kp H                            )

            ADAPTIVE_STRICT(arcane_space, SPACE, &kp T &kp H &kp E &kp SPACE                  )
            ADAPTIVE_STRICT(arcane_dot,   DOT,   &kp FSLH                                     )
            ADAPTIVE_STRICT(arcane_comma, COMMA, &kp SPACE &kp B &kp U &kp T &kp SPACE        )
            ADAPTIVE_STRICT(arcane_pound, POUND, &kp D &kp E &kp F &kp I &kp N &kp E &kp SPACE)
        };

        // ******************** MAGIC ******************** //

        magic_h: magic_h {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp H>;

            ADAPTIVE_QUICK(ah, A, &kp U)
            ADAPTIVE_QUICK(eh, U, &kp A)
            ADAPTIVE_QUICK(uh, E, &kp O)
            ADAPTIVE_QUICK(oh, O, &kp E)
            ADAPTIVE_QUICK(rh, R, &kp N)
        };
    };
};
