/ {
    definitions {
        TAPHOLD_TP_AGRESSIVE(arcane_repeat, &key_repeat, &arcane_key)

        TAPHOLD_TP(th_qexcl_morph, &qexcl_morph, &end_qexcl_morph)
        TAPHOLD_TP(th_dot_morph,   &dot_morph,   &end_dot_morph  )
        TAPHOLD_TP(th_comma_morph, &comma_morph, &end_comma_morph)

        lt_magic_h: lt_magic_h {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "hold-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&magic_h>;
        };

        lt_magic_h_s: lt_magic_h_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "hold-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&magic_h_s>;
        };
    };
};

#define LT_MAGIC_H   &lt_magic_h   SHORTCUTS 0
#define LT_MAGIC_H_S &lt_magic_h_s SHORTCUTS 0
