/ {
    morphs {
        MOD_MORPH(qexcl_morph, MOD_LSFT|MOD_RSFT, &kp EXCL,  &kp QMARK)
        MOD_MORPH(dot_morph,   MOD_LSFT|MOD_RSFT, &kp COLON, &kp DOT  )
        MOD_MORPH(comma_morph, MOD_LSFT|MOD_RSFT, &kp SEMI,  &kp COMMA)

        MOD_MORPH(end_qexcl_morph, MOD_LSFT|MOD_RSFT, &end_excl, &end_qmark)
        MOD_MORPH(end_dot_morph, MOD_LSFT|MOD_RSFT, &end_colon, &end_dot)
        MOD_MORPH(end_comma_morph, MOD_LSFT|MOD_RSFT, &end_semi, &end_comma)
    };
};
