/ {
    morphs {
        MOD_MORPH(qexcl_morph, MOD_LSFT|MOD_RSFT, &kp EXCL,      &kp QMARK)
        MOD_MORPH(dot_morph,   MOD_LSFT|MOD_RSFT, &kp COLON,     &kp DOT  )
        MOD_MORPH(comma_morph, MOD_LSFT|MOD_RSFT, &kp SEMICOLON, &kp COMMA)
    };
};