
#define LT_NUM_SPACE  &hlt_mo_space_morph NUMBERS 0
#define LT_NAV_ALPHA2 &hlt_mo_sl NAV ALPHA2

#define LT_MAGIC_H   &lt_magic_h   SHORTCUTS 0
#define LT_MAGIC_H_S &lt_magic_h_s SHORTCUTS 0

#define SEMI_COLON &th_semi_colon_morph 0 0
#define COMMA_Q    &th_comma_q_morph    0 0
#define DOT_EXCL   &th_dot_excl_morph   0 0
#define COLON_SEMI &th_colon_semi_morph 0 0
#define Q_COMMA    &th_q_comma_morph    0 0
#define EXCL_DOT   &th_excl_dot_morph   0 0

/ {
    definitions {
        TAPHOLD_TP_AGRESSIVE(arcane_repeat, &key_repeat, &arcane_key)

        TAPHOLD_TP(th_semi_colon_morph, &semi_colon_morph, &end_semi_colon_morph)
        TAPHOLD_TP(th_comma_q_morph,    &comma_q_morph,    &end_comma_q_morph)
        TAPHOLD_TP(th_dot_excl_morph,   &dot_excl_morph,   &end_dot_excl_morph)

        TAPHOLD_TP(th_colon_semi_morph, &colon_semi_morph, &end_colon_semi_morph)
        TAPHOLD_TP(th_q_comma_morph,   &q_comma_morph,    &end_q_comma_morph)
        TAPHOLD_TP(th_excl_dot_morph,   &excl_dot_morph,   &end_excl_dot_morph)

        TAPHOLD_TP(th_lpar, &lpar, &end_lpar)
        TAPHOLD_TP(th_rpar, &rpar, &end_rpar)

        TAPHOLD_TP(th_lbkt, &lbkt, &end_lbkt)
        TAPHOLD_TP(th_rbkt, &rbkt, &end_rbkt)

        TAPHOLD_TP(th_lbrc, &lbrc, &end_lbrc)
        TAPHOLD_TP(th_rbrc, &rbrc, &end_rbrc)

        TAPHOLD_TP(th_apos,  &apos,  &end_apos)
        TAPHOLD_TP(th_dqt,   &dqt,   &end_dqt)
        TAPHOLD_TP(th_grave, &grave, &end_grave)

        TAPHOLD_TP(th_equal, &equal, &end_equal)
        TAPHOLD_TP(th_colon, &colon, &end_colon)
        TAPHOLD_TP(th_qmark, &qmark, &end_qmark)
        TAPHOLD_TP(th_excl,  &excl,  &end_excl)

        TAPHOLD_TP(th_tab, &tab, &home_tab)
        TAPHOLD_TP(th_enter, &enter, &end_enter)

        hlt_mo_sl: hlt_mo_sl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "hold-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&sl>;
        };

        hlt_mo_space_morph: hlt_mo_space_morph {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "hold-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&space_under_morph>;
        };

        lt_magic_h: lt_magic_h {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "hold-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&magic_h>;
        };

        lt_magic_h_s: lt_magic_h_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "hold-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&magic_h_s>;
        };
    };
};
