#include "includes.h"

/   {
        keymap {
                compatible = "zmk,keymap";
                alpha1_layer {
                     display-name = "ALPHA1";
                     bindings = <
    &none               SEMI_COLON          COMMA_Q             DOT_EXCL            &none               &none               &kp G               &kp N               &kp W               &none
    LT_MAGIC_H          &hml LALT I         &hml LCTRL E        &hml LSHFT A        &none               &none               &hmr LSHFT D        &hmr LCTRL R        &hml LALT S         &lt SHORTCUTS L
    &none               &kp Y               &kp O               &hml LGUI U         &none               &none               &hmr LGUI C         &kp M               &kp F               &none
                                            &none               &hlt NUMBERS SPACE  LT_NAV_ALPHA2       &arcane_repeat 0 0  &hlt SYMBOLS T      &none
                        >;
                };
                alpha2_layer {
                     display-name = "ALPHA2";
                     bindings = <
    &none               COLON_SEMI          Q_COMMA             EXCL_DOT            &none               &none               &kp B               &kp J               &kp K               &none
    &lt SHORTCUTS X     HML_ACC_I_CIRC      HML_ACC_E_AIGU      HML_ACC_A_GRAVE     &none               &none               &hmr LSHFT  P       &hmr LCTRL RA(SQT)  &hmr LALT RA(GRAVE) &lt SHORTCUTS V
    &none               &kp Q               &acc_o_circ         HML_ACC_U_CIRC      &none               &none               HMR_ACC_C_CEDILLE   &kp RA(CARET)       &kp RA(DQT)         &none
                                            &none               &kp SPACE           &kp APOS            &kp APOS            &kp SPACE           &none
                        >;
                };
                shifted1_layer {
                     display-name = "CASE";
                     bindings = <
    &none               SEMI_COLON          COMMA_Q             DOT_EXCL            &none               &none               &kp LS(G)           &kp LS(N)           &kp LS(W)           &none
    LT_MAGIC_H_S        &kp LS(I)           &kp LS(E)           &kp LS(A)           &none               &none               &kp LS(D)           &kp LS(R)           &kp LS(S)           &lt SHORTCUTS LS(L)
    &none               &kp LS(Y)           &kp LS(O)           &kp LS(U)           &none               &none               &kp LS(C)           &kp LS(M)           &kp LS(F)           &none
                                            &none               &hlt NUMBERS SPACE  LT_NAV_SHIFTED2     &arcane_repeat 0 0  &hlt SYMBOLS LS(T)  &none
                        >;
                };
                shifted2_layer {
                     display-name = "CASE";
                     bindings = <
    &none               COLON_SEMI          Q_COMMA             EXCL_DOT            &none               &none               &kp LS(B)           &kp LS(J)           &kp LS(K)           &none
    &lt SHORTCUTS LS(X) &acc_i_circ_s       &acc_e_aigu_s       &acc_a_grave_s      &none               &none               &kp LS(P)           &kp RA(SQT)         &kp RA(GRAVE)       &lt SHORTCUTS LS(V)
    &none               &kp LS(Q)           &acc_o_circ_s       &acc_u_circ_s       &none               &none               &acc_c_cedille_s    &kp RA(CARET)       &kp RA(DQT)         &none
                                            &none               &kp SPACE           &kp APOS            &kp APOS            &kp SPACE           &none
                        >;
                };
                numbers_layer {
                     display-name = "NUM";
                     bindings = <
    &none               &th_lbrc 0 0        &th_rbrc 0 0        &kp BSLH            &none               &none               &kp N7              &kp N8              &kp N9              &none
    &mo FUNCTIONS       &th_lpar 0 0        &th_rpar 0 0        &kp AMPS            &none               &none               &kp N4              &kp N5              &kp N6              &kp DOT
    &none               &th_lbkt 0 0        &th_rbkt 0 0        &kp PIPE            &none               &none               &kp N1              &kp N2              &kp N3              &none
                                            &none               &none               &none               &kp SPACE           &hlt SYMBOLS N0     &none
                        >;
                };
                symbols_layer {
                     display-name = "SYM";
                     bindings = <
    &none               &kp TILDE           &kp POUND           &th_apos 0 0        &none               &none               &kp PERCENT         &th_equal 0 0       &th_colon 0 0       &none
    &kp AT              &kp CARET           &kp DOLLAR          &th_dqt 0 0         &none               &none               &th_qmark 0 0       &kp MINUS           &kp PLUS            &lt MACROS COMMA
    &none               &kp LT              &kp GT              &th_grave 0 0       &none               &none               &th_excl 0 0        &kp FSLH            &kp STAR            &none
                                            &none               &hlt NUMBERS SPACE  &none               &none               &none               &none
                        >;
                };
                shortcuts_layer {
                     display-name = "SHORT";
                     bindings = <
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
                                            &none               &none               &none               &none               &none               &none
                        >;
                };
                cases_layer {
                     display-name = "CASES";
                     bindings = <
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
                                            &none               &none               &none               &none               &none               &none
                        >;
                };
                nav_layer {
                     display-name = "NAV";
                     bindings = <
    &none               &none               &none               &none               &none               &none               &th_tab 0 0         &th_enter 0 0       &kp ESC             &none
    &lt TEXT INS        &kp LALT            &kp LCTRL           &kp LSHFT           &none               &none               &kp LEFT            &kp DOWN            &kp UP              &kp RIGHT
    &none               &none               &none               &kp LGUI            &none               &none               &kp DEL             &kp HOME            &kp END             &none
                                            &none               &none               &none               &kp SPACE           &none               &none
                        >;
                };
                text_layer {
                     display-name = "TEXT";
                     bindings = <
    &none               &sel_home           &sel_word_fw        &sel_line           &none               &none               &th_tab 0 0         &th_enter 0 0       &kp ESC             &none
    &none               &kp LALT            &kp LCTRL           &kp LSHFT           &none               &none               &mv_word_bw         &kp DOWN            &kp UP              &mv_word_fw
    &none               &none               &none               &kp LGUI            &none               &none               &del_word_fw        &kp HOME            &kp END             &none
                                            &none               &none               &none               &kp SPACE           &none               &none
                        >;
                };
                media_layer {
                     display-name = "MEDIA";
                     bindings = <
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
                                            &none               &none               &none               &none               &none               &none
                        >;
                };
                functions_layer {
                     display-name = "FUNC";
                     bindings = <
    &none               &bt BT_PRV          &bt BT_NXT          &bt BT_SEL 0        &none               &none               &kp F7              &kp F8              &kp F9               &none
    &none               &kp LALT            &kp LCTRL           &kp LSHFT           &none               &none               &kp F4              &kp F5              &kp F6               &none
    &none               &none               &none               &kp LGUI            &none               &none               &kp F1              &kp F2              &kp F3               &none
                                            &none               &none               &none               &none               &none               &none
                        >;
                };
                macros_layer {
                     display-name = "MACROS";
                     bindings = <
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
                                            &none               &none               &none               &none               &none               &none
                        >;
                };
    //             template_layer {
    //                  display-name = "TEMPLATE";
    //                  bindings = <
    // &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    // &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    // &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
    //                                         &none               &none               &none               &none               &none               &none
    //                     >;
    //             };
        };
};
