#include "includes.h"

/* Custom behaviors */
// Define mod-morph with a *single* mod trigger for less repetition.
// #define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)                            \
//     ZMK_MOD_MORPH(NAME, mods = <(MOD_L##MOD | MOD_R##MOD)>;                      \
//                 bindings = <BINDING1>, <BINDING2>;)

// Tap: comma | Shift + tap: semicolon.
// SIMPLE_MORPH(comma_morph, SFT, &kp COMMA, &kp SEMICOLON)




// Tap: dot | Shift + tap: colon.
// #define HML_DOT_MORPH &hml_dot_morph LSHFT 0
// ZMK_HOLD_TAP(hml_dot_morph, bindings = <&kp>, <&dot_morph>; flavor = "balanced";
//             tapping-term-ms = <280>; quick-tap-ms = <QUICK_TAP_MS>;
//             require-prior-idle-ms = <150>; hold-trigger-on-release;
//             hold-trigger-key-positions = <KEYS_R THUMBS>;)
// SIMPLE_MORPH(dot_morph, SFT, &kp DOT, &kp COLON)

// #define HML_REPEAT &hml_repeat LGUI 0
// ZMK_HOLD_TAP(hml_repeat, bindings = <&kp>, <&key_repeat>; flavor = "balanced";
//             tapping-term-ms = <280>; quick-tap-ms = <QUICK_TAP_MS>;
//             require-prior-idle-ms = <150>; hold-trigger-on-release;
//             hold-trigger-key-positions = <KEYS_R THUMBS>;)

// #define HMR_REPEAT &hmr_repeat LGUI 0
// ZMK_HOLD_TAP(hmr_repeat, bindings = <&kp>, <&key_repeat>; flavor = "balanced";
//             tapping-term-ms = <280>; quick-tap-ms = <QUICK_TAP_MS>;
//             require-prior-idle-ms = <150>; hold-trigger-on-release;
//             hold-trigger-key-positions = <KEYS_L THUMBS>;)




// Tap: question mark | Shift + tap: exclamation point.
// SIMPLE_MORPH(qexcl_morph, SFT, &kp QMARK, &kp EXCL)



// Macros
// ZMK_MACRO(macro_1,
//     wait-ms = <30>;
//     tap-ms = <1>;
//     bindings = <&kp L &kp E &kp T &kp O &kp U &kp R &kp N &kp E &kp A &kp U &kp DOT &kp N &kp A &kp T &kp H &kp A &kp N &kp I &kp E &kp L &kp AT &kp H &kp O &kp T &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
// )

// ZMK_MACRO(macro_2,
//     wait-ms = <30>;
//     tap-ms = <1>;
//     bindings = <&kp L &kp E &kp T &kp N &kp N1 &kp N1 &kp N0 &kp N2 &kp AT &kp U &kp S &kp H &kp E &kp R &kp B &kp R &kp O &kp O &kp K &kp E &kp DOT &kp C &kp A>;
// )

// ZMK_MACRO(macro_3,
//     wait-ms = <30>;
//     tap-ms = <1>;
//     bindings = <&kp N &kp A &kp T &kp H &kp A &kp N &kp I &kp E &kp L &kp DOT &kp L &kp E &kp T &kp O &kp U &kp R &kp N &kp E &kp A &kp U &kp AT &kp S &kp B &kp Q &kp U &kp A &kp N &kp T &kp U &kp M &kp DOT &kp C &kp O &kp M>;
// )

/   {
        keymap {
                compatible = "zmk,keymap";
                alpha1_layer {
                     display-name = "ALPHA1";
                     bindings = <
    &none               &qexcl_morph        &dot_morph          &comma_morph        &none               &none               &kp G               &kp N               &kp W               &none           
    &magic_h            &hml LALT I         &hml LCTRL E        &hml LSHFT A        &none               &none               &hmr LSHFT D        &hmr LCTRL R        &hml LALT S         &kp L
    &none               &kp Y               &kp O               &hml LGUI U         &none               &none               &hmr LGUI C         &kp M               &kp F               &none
                                            &none               &kp SPACE           &sl ALPHA2          &arcane_repeat 0 0  &kp T               &none
                        >;
                };
                compatible = "zmk,keymap";
                alpha2_layer {
                     display-name = "ALPHA2";
                     bindings = <
    &none               &qexcl_morph        &dot_morph          &comma_morph        &none               &none               &kp B               &kp J               &kp K               &none
    &kp X               &acc_i_circ         &acc_e_aigu         &acc_a_grave        &none               &none               &kp P               &kp RA(SQT)         &kp RA(GRAVE)       &kp V
    &none               &kp Q               &acc_o_circ         &acc_u_circ         &none               &none               &acc_c_cedille      &kp RA(CARET)       &kp RA(DQT)         &none
                                            &none               &kp SPACE           &kp APOS            &kp APOS            &kp SPACE           &none
                        >;
                };
        };
};
